.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.product {
  display: flex;
  padding: 10px;
}
.product .sn {
  flex-basis: 5%;
}
.product .col {
  flex-basis: 20%;
}


.presentation-topic{
  display:flex;
  padding:10px;
}

.presentation-topic .id{
  flex-basis: 5%;
}

.presentation-topic .Group{
  flex-basis: 5%;
}
.presentation-topic .members{
  flex-basis: 5%;
}
.presentation-topic .Topic{
  flex-basis: 5%;
}
.memberinput{
  display: flex;
}
